<div class="container">
  <div class="send-message">
    <div>
      <span>當前登入用戶名:{{UserId}}</span>
      <button class="logout hidden">
        <i class="bi bi-box-arrow-right" (click)="logout()">Logout</i>
      </button>
    </div>
    <form class="message row" [formGroup]="messageForm" (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label for="title" class="form-label">標題</label>
        <input formControlName="title" type="text" class="form-control" id="title" placeholder="title">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">內容</label>
        <input formControlName="content" type="text" class="form-control" id="content" placeholder="...">
      </div>
      <button class="hidden"></button>
    </form>
  </div>
<!--  <div id="posts-container">-->
<!--    <div *ngFor="let post of posts" id="post-container">-->
<!--      <div *ngIf="userFlag(post.postUserId)" class="user">-->
<!--        <span id="name">用戶ID:{{post.postUserId}}</span>-->
<!--      </div>-->
<!--      <div class="post" [class.right]="!userFlag(post.postUserId)">-->
<!--&lt;!&ndash;        <p id="post-title">{{decrypt(post.title)}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;        <p id="post-message">{{decrypt(post.content)}}</p>&ndash;&gt;-->
<!--        <p id="post-title">{{post.title}}</p>-->
<!--        <p id="post-message">{{post.content}}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
