<div class="container">
  <div class="item" id="userList">
    <div id="selfProfile-box">
      <div id="headPortrait-box">
        <img class="profileImg"
             src="https://ali-global-cdn.hellotalk8.com/avatar/ht-global/221225/116018921_997f6cdf2e78b14adf898de923371bf4.jpg"
             alt>
        <span class="userName">{{UserId}}</span>
        <button id="logout" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
        </button>
      </div>
    </div>
    <div id="userSearch-box">
      <input class="input-group-text" type="text">
    </div>
    <div id="userList-box">
      <div class="userInfo-box">
        <img class="profileImg"
             src="https://ali-global-cdn.hellotalk8.com/avatar/ht-global/221225/116018921_997f6cdf2e78b14adf898de923371bf4.jpg"
             alt>
        <span class="userName">Test</span>
      </div>
      <div class="userInfo-box">
        <img class="profileImg"
             src="https://ali-global-cdn.hellotalk8.com/avatar/ht-global/221225/116018921_997f6cdf2e78b14adf898de923371bf4.jpg"
             alt>
        <span class="userName">Test</span>
      </div>
      <div class="userInfo-box">
        <img class="profileImg"
             src="https://ali-global-cdn.hellotalk8.com/avatar/ht-global/221225/116018921_997f6cdf2e78b14adf898de923371bf4.jpg"
             alt>
        <span class="userName">Test</span>
      </div>
      <div class="userInfo-box">
        <img class="profileImg"
             src="https://ali-global-cdn.hellotalk8.com/avatar/ht-global/221225/116018921_997f6cdf2e78b14adf898de923371bf4.jpg"
             alt>
        <span class="userName">Test</span>
      </div>
    </div>
  </div>
  <div class="item" id="message">
    <div id="mainMsgBoxHead">
      <div id="userBase">111</div>
    </div>
    <div id="mainMsgWrapper">
    </div>
    <div id="bigMsgInput">
      <input type="text" class="input-group-text" placeholder="please enter a message here">
    </div>
  </div>
</div>
