//::-webkit-scrollbar {
//  display:none

@main-color: #dcdcdc;
@sub-color: #ffffff;
.container {
  padding: 0;
  margin: 0;
  justify-content: center;
  display: flex;
  background-color: @main-color;
  height: 100vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1280px;
  position: fixed;
  flex-flow: row nowrap;

  .profileImg {
    vertical-align: top;
    display: inline-block;
    border-radius: 50%;
    height: 42px;
    width: 42px;
  }

  .item {
    flex-grow: 1;
    flex-shrink: 1;
  }

  #userList {
    background-color: @sub-color;
    flex-basis: 340px;
    #selfProfile-box, .userInfo-box {
      padding: 20px 17px;
      span {
        padding-left: 20px;
        font-size: 20px;
        line-height: 42px;
      }
    }

    #selfProfile-box {
      #headPortrait-box{
        line-height: 42px;
        vertical-align: center;
      }
      height: 82px;
      #logout{
        padding-left: 20px;
        border: none;
        background-color: @sub-color;
        font-size: 30px;
      }
    }

    #userSearch-box {
      background-color: @main-color;
      height: 54px;
      padding: 10px 15px;
      input {
        background-color: @sub-color;
        width: 100%;
      }
    }

    #userList-box {
      .userInfo-box{
        border-bottom: 1px ridge black;
      }
    }

    .userInfo-box:hover {
      background-color: @main-color;
    }
  }

  #message {
    position: relative;
    flex-basis: 900px;

    #mainMsgBoxHead {
      background-color: @sub-color;
      position: relative;
      padding: 17px 15px;
      height: 82px;

      #userBase {
        font-weight: bold;
        font-size: 20px;

        #mainMsgInput {
          width: 100%;
        }
      }
    }

    #bigMsgInput {
      position: absolute;
      width: 100%;
      bottom: 0;
      input {
        background-color: @sub-color;
        outline: 0;
        height: 80px;
        width: 100%;
      }
    }
  }
}

































